<head>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>
<body>
  <link rel="stylesheet" type="text/css" href="/stylesheets/checkout.css">
  <% include templates/nav%>
  <div id="checkout" style= "padding-top:100px;" >
    <center>
    <h1 style="">Checkout</h1>
    <form method="POST" action="/order/confirm">
      <table>
        <th>Donut</th><th>Amount</th>
        <tr>
            <td>Original Glaze</td> <td name="amount1"><%= locals.amount1 %></td>
        </tr>
        <tr>
            <td>Strawberry Original</td> <td name="amount2"><%= locals.amount2 %></td>
        </tr>
        <tr>
            <td>White Chocolate & Milk Choc Drizzle</td> <td name="amount3"><%= locals.amount3 %></td>
        </tr>
        <tr>
            <td>Chocolate & Nutella / Hazlenuts</td> <td name="amount4"><%= locals.amount4 %></td>
        </tr>
        <tr>
            <td>Chocolate & M&Ms</td> <td name="amount5"><%= locals.amount5 %></td>
        </tr>
        <tr>
            <td>Total: <strong name="totalPrice">€<%=locals.totalPrice%></strong></td>
        </tr>
      </table>

      <input type="submit" value="Confirm Order" style="background-color: #001f3f; color:white; margin-bottom:0; padding:30px;">
    </form>
    </center>
  </div>
</body>
