<head>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="javascripts/scroll.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>

<body>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chef.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <% include templates/nav%>
  <center>
    <h1 style="padding-top: 100px;">Chef</h1>

    <div id="chefContent">
      <form method="POST" action="/stockupdate">
        <table>
          <tr>
            <th>Donut</th><th>Price</th><th>Stock</th><th>Update</th>
          </tr>
          <tr>
            <td>Original Glazed</td><td>€1.99</td><td><%=result[0].stock %></td><td><input type="number" name="donut1update" value="0"></td>
          </tr>
          <tr>
            <td>Strawberry Original</td><td>€2.49</td><td> <%=result[1].stock %> </td><td><input type="number" name="donut2update" value="0"></td>
          </tr>
          <tr>
            <td>White Chocolate & Milk Choc Drizzle</td><td>€2.99</td><td><%=result[2].stock %></td><td><input type="number" name="donut3update" value="0"></td>
          </tr>
          <tr>
            <td>Chocolate & Nutella / Hazlenuts</td><td>€3.49</td><td><%=result[3].stock %></td><td><input type="number" name="donut4update" value="0"></td>
          </tr>
          <tr>
            <td>Chocolate & M&Ms</td><td>€3.49</td><td><%=result[4].stock %></td><td><input type="number" name="donut5update" value="0"></td>
          </tr>
          <tr>
            <button type="submit" name="updateStock" class="submitButton" style="position:fixed; bottom:0px; border-width:0px; border-bottom-left-radius:0px; border-bottom-right-radius:0px;">Update Stock!</button>
          </tr>
        </table>
        </form>
    </div>
  </center>
</body>
